/*
 * 色変数のみを定義するためのstyle。
 */
$base-font-color = #000
$base-background-color = #fff
// colors
$color-white = #fff
$color-black = #000
$color-yellow = #ffff00
$color-red = #d54831
$color-blue = #336698
$color-lightblack = #999
// colors - sns
$color-line = #00b900
$color-facebook = #1877f2
$color-twitter = #1da1f2
$color-instagram = #d93177
